<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Unity Web Player | Bullying Gameficado</title>
    <link rel="shortcut icon" href="/static/FinalBuild2/TemplateData/favicon.ico">
    <link rel="stylesheet" href="/static/FinalBuild2/TemplateData/style.css">
    <style>
      /* Ensure the game covers the entire screen */
      html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden; /* Hide scrollbars */
      }
      #unity-container {
        width: 100% !important;
        height: 100% !important;
      }
      #unity-canvas {
        width: 100% !important;
        height: 100% !important;
      }
    </style>
  </head>
  <body>
    <div id="unity-container" class="unity-desktop">
      <canvas id="unity-canvas" width=960 height=600 tabindex="-1"></canvas>
      <div id="unity-loading-bar">
        <div id="unity-logo"></div>
        <div id="unity-progress-bar-empty">
          <div id="unity-progress-bar-full"></div>
        </div>
      </div>
      <div id="unity-warning"> </div>
    </div>
    <script>
      function attemptLockScreen() {
        if (screen.orientation && typeof screen.orientation.lock === 'function') {
          screen.orientation.lock('landscape').catch(function(error) {
            console.log("Orientation lock failed:", error);
          });
        }
      }

      window.addEventListener('load', attemptLockScreen);


      var canvas = document.querySelector("#unity-canvas");
      var buildUrl = "/static/FinalBuild2/Build";
      var loaderUrl = buildUrl + "/FinalBuild2.loader.js";
      var config = {
        dataUrl: buildUrl + "/FinalBuild2.data",
        frameworkUrl: buildUrl + "/FinalBuild2.framework.js",
        codeUrl: buildUrl + "/FinalBuild2.wasm",
        companyName: "IGF",
        productName: "Bullying Gameficado",
        productVersion: "3.0",
      };

      document.querySelector("#unity-loading-bar").style.display = "block";

      var script = document.createElement("script");
      script.src = loaderUrl;
      script.onload = () => {
        createUnityInstance(canvas, config, (progress) => {
          document.querySelector("#unity-progress-bar-full").style.width = 100 * progress + "%";
        }).then((unityInstance) => {
          document.querySelector("#unity-loading-bar").style.display = "none";
          // --- AUTO FULLSCREEN ---
          unityInstance.SetFullscreen(1);
          // ---                ---
        }).catch((message) => {
          alert(message);
        });
      };
      document.body.appendChild(script);
    </script>
  </body>
</html>
